@font-face
{
font-family: 'Jost';
src: url('../fonts/Jost-VariableFont_wght.ttf');
}

body
{  
    margin: auto;
    text-align: center;
    font-family: 'Jost',sans-serif;
    padding-bottom: 200px;
}



#why_choose_us
{
    padding-top: 60px;
    width: 100%;   
}