@font-face
{
font-family: 'Jost';
src: url('../fonts/Jost-VariableFont_wght.ttf');
}

body
{  
    margin: auto;
    text-align: center;
    font-family: 'Jost',sans-serif;
}







#why_choose_us
{
    padding-top: 60px;
    width: 100%;   
}

#links nav{
    position: relative;
    width: 20%;
    margin:auto;
    margin-bottom: 50px;
    

}

#noanimal{
    margin: auto;
    color: cornflowerblue;
    font-size:large;
}