#why_choose_us
{
    padding-top: 130px;
    width: 100%;   
}

.img_text
{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.img
{
    margin-left: 50px;
   
}
.img img{
    border-radius: 300px;
}


.text
{
    text-align: left;
    margin-left: 50px;
}

.text p
{
    width: 450px;
    color:gray;
}

.text h2
{
    font-size: 1.4em;
    font-weight: 500;
}

.head{
	height: 715px;
	background-color: rgba(0,0,0,0.5);
}
.background
{
	background-image:url("/images/bg12.jpg");
	background-size: cover;
    height: 715px;
}


#prog_bar{
    width: 700;
    margin: auto;
    margin-top: 140;
}


#sondage{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;
    margin-top: 80px;
}

.caption{
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}

.gray_bar{
	height: 10px;
	background-color:#e0e0e0 ;
	border-radius: 5px;
}

  @keyframes load1 {
    from {width:0%}
    to {width:90%}
  }
  @keyframes load2 {
    from {width:0%}
    to {width:80%}
  }
  @keyframes load3 {
    from {width:0%}
    to {width:85%}
  }
  @keyframes load4 {
    from {width:0%}
    to {width:65%}
  }
  @keyframes load5 {
    from {width:0%}
    to {width:50%}
  }
 

#colored_bar1{
	height: 10px;
	width: 0%;
	background-color:#ffcc00 ;
	border-radius: 5px;
    animation: load1 5s linear 3s forwards;
}

#colored_bar2{
	height: 10px;
	width: 0%;
	background-color:#66ff33 ;
	border-radius: 5px;
    animation: load2 5s linear 3s forwards;
}

#colored_bar3{
	height: 10px;
	width: 0%;
	background-color:#9900cc ;
	border-radius: 5px;
    animation: load3 5s linear 3s forwards;
}

#colored_bar4{
	height: 10px;
	width: 0%;
	background-color:#ff66cc ;
	border-radius: 5px;
    animation: load4 5s linear 3s forwards;
}

#colored_bar5{
	height: 10px;
	width: 0%;
	background-color:#0099ff ;
	border-radius: 5px;
    animation: load5 5s linear 3s forwards;
}

