.head{
	height: 715px;
	background-color: rgba(0,0,0,0.5);
}
.background
{
	background-image:url("/images/bg13.jpg");
	background-size: cover;
    height: 715px;
}


#container_1{
    padding-top: 100px;
}

#container_1_1{
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 1200px;
  padding-top: 60px;
  padding-bottom: 80px;
  
}

#container_1_1> div{
	width: 48%;
}

#sondage{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;
}

.row{
    text-align:left;
}

.label{
    margin-left: 10px;
}

iframe:hover{
    box-shadow: 0px 0px 10px 1px #4d4b4b;
}

#one_two_three
{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto; 
    margin-top: 30px;
    width: 1000px;   
}


.num1 p{
	margin: 0px;
}

.num1 a{
    color: rgb(23, 200, 206);
}

.num1 a:hover{
    text-decoration: none;

}
