.head{
	height: 715px;
	background-color: rgba(0,0,0,0.5);
}

.background
{
	background-image:url("/images/bg21.jpg");
	background-size: cover;
    height: 715px;
}

#why_choose_us
{
    padding-top: 60px;
    width: 100%;   
}

#output{
    width: 60%;
    height: 250px;
    background-color: rgb(216, 214, 214);
    border-radius: 4px;  
    box-shadow: 0px 0px 10px 1px #cccccc;
}

#upload:hover{
    color: cornflowerblue;
}