#bubble
{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 400px;
    right: 20px;
    height: 150px;
    width: 50px;
    box-shadow: 0px 0px 10px 1px #cccccc;
    box-shadow: 0px 0px 10px 1px #cccccc;
    border-radius: 25px;
    background-color: white;
    opacity: 0.95;
}

#bubble a
{
    margin-top: 20px;
}

footer
{
    background-image: url("/images/backf.jpg");
    background-size: cover;
    
    margin-top: 150px;
    padding-top: 300px;
    height: 1100px;



    display: flex;
    justify-content: center;
    text-align: justify;
   
}

.down
{
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}

.bloc p
{
    color: gray;
    font-weight: 400;
    font-size: 1.1em;
}
.bloc a
{
    text-decoration: none;
    color: gray;
    font-weight: 400;
    font-size: 1.1em;
}

.bloc a:hover
{
    color: white;
}
.bloc
{
    margin: auto;
    margin-top: 0px;
}

.bloc form
{
    margin-top: 30px;
}

.bloc img{
    width: 170px;
    height: 100px;
}

#email
{
    height: 30px;
    border-radius: 15px;
    opacity: 0.5;
}

#join
{
    height: 35px;
    width: 80px;
    border-radius: 15px;
    background-color: skyblue;
    border-color: skyblue;
}

#join:hover
{
    box-shadow: 0px 0px 10px 1px white;
    

}
