#banniere_image
{
    text-align: center;
    margin-top: 0px;
    height: 700px;
    width: 100%;
    background: url('/images/back.jpg') ;
    background-size: cover;
    position: relative;
    margin-bottom: 25px;
}

#banniere_description
{
   color:black;
   width: 500px;
   padding-top: 250px;
   text-align: center;
   margin-left: -400px;   
}

#banniere_description h1
{
    text-align: left;
    font-size: 2.8em;
}
#banniere_description h4
{
    text-align: end;
}
#banniere_description p
{
    text-align: left;
    font-size: 1.4em;
}

#button
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 115px;
}

#button a
{
    width: 170px;
    height: 55px;
    line-height: 55px;
    background-color: white;
    border-radius: 30px;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    color: black;   
}

#button a:hover
{
    color:#848abd;
    box-shadow: 0px 0px 10px 1px #cccccc;
    
}

#anime
{
    position: absolute;
    right: 350px;
    top: 413px;
}



#anim
{
    margin-top: 200px;
}

#anim h4
{
    color: #999999;
}

#anim h1
{
    font-weight: 400;
}

#closer
{
    margin: auto;
    margin-top:150px; 
    
}

video
{
    margin-top: 40px;
}

video:hover{
    box-shadow: 0px 0px 10px 1px #4d4b4b;
}

@keyframes clignote
		{
			0%{opacity: 1;}
			50%{opacity: 0;}
			100%{opacity: 1;}
		}

#partners
{
    margin-top: 150px;
}

#partners p
{
    margin-top: 50px;
    animation: clignote 4s linear infinite alternate;
}

#noanimal{
    margin: auto;
    color: cornflowerblue;
    font-size:large;
}



