.head{
	height: 715px;
	background-color: rgba(0,0,0,0.5);
}

.background
{
	background-image:url("/images/bg31.jpg");
	background-size: cover;
    height: 715px;
}

#why_choose_us
{
    padding-top: 60px;
    width: 100%;   
}

#links nav{
    position: relative;
    width: 20%;
    margin:auto;
    margin-bottom: 50px;
	

}

#noanimal{
    margin: auto;
    color: cornflowerblue;
    font-size:large;
}
