@font-face
{
font-family: 'Jost';
src: url('../fonts/Jost-VariableFont_wght.ttf');
}

body
{  
    margin: auto;
    text-align: center;
    font-family: 'Jost',sans-serif;
    padding-bottom: 200px;
}


#why_choose_us
{
    padding-top: 60px;
    width: 100%;   
}

#btns{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
}