<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/pets.css">
</head>

<body>
    
    <div id="why_choose_us">
        <h4>HERE IS ALL THE FAMILY </h4>
        <h1>Go ahead and and check them out</h1>
    </div>

   
<div style="display: flex;flex-wrap: wrap;  width:1200px; margin:auto;margin-top:50px;">

    <br><br>
    <div class="container" style=" margin-top:50px; width:600px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="box-shadow: 0px 0px 10px 1px #cccccc; ">
                    
                    <div class="card-header"> <h3 style="text-transform: capitalize;">Animal name</h3> </div>
    
                    <div class="card-body" style="padding:50px 0px 0px 0px; ">
                        

                            <div style="padding-bottom: 30px">
                                <p><img src="../images/im1.jpg"/>
                              </p></div>
    
                            
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Age :</label>
    
                                <div class="col-md-6" style="padding-top: 5px;" >
                                    age
                                </div>
                                
                            </div>
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Gender :</label>
    
                                <div class="col-md-6" style="text-transform: capitalize; padding-top: 5px;">
                                    gender
                                </div>
                                
                            </div>
    
                            <h1 style="text-align: center;"><a type="submit" href="/animals/{{$animal->id}}" class="btn btn-primary btn-sm" >Show Animal</a></h1 >
                            
                            
                            <br>
                            <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style=" margin-top:50px; width:600px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="box-shadow: 0px 0px 10px 1px #cccccc; ">
                    
                    <div class="card-header"> <h3 style="text-transform: capitalize;">Animal name</h3> </div>
    
                    <div class="card-body" style="padding:50px 0px 0px 0px; ">
                        

                            <div style="padding-bottom: 30px">
                                <p><img src="../images/im1.jpg"/>
                              </p></div>
    
                            
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Age :</label>
    
                                <div class="col-md-6" style="padding-top: 5px;" >
                                    age
                                </div>
                                
                            </div>
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Gender :</label>
    
                                <div class="col-md-6" style="text-transform: capitalize; padding-top: 5px;">
                                    gender
                                </div>
                                
                            </div>
    
                            <h1 style="text-align: center;"><a type="submit" href="/animals/{{$animal->id}}" class="btn btn-primary btn-sm" >Show Animal</a></h1 >
                            
                            
                            <br>
                            <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style=" margin-top:50px; width:600px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="box-shadow: 0px 0px 10px 1px #cccccc; ">
                    
                    <div class="card-header"> <h3 style="text-transform: capitalize;">Animal name</h3> </div>
    
                    <div class="card-body" style="padding:50px 0px 0px 0px; ">
                        

                            <div style="padding-bottom: 30px">
                                <p><img src="../images/im1.jpg"/>
                              </p></div>
    
                            
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Age :</label>
    
                                <div class="col-md-6" style="padding-top: 5px;" >
                                    age
                                </div>
                                
                            </div>
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Gender ;</label>
    
                                <div class="col-md-6" style="text-transform: capitalize; padding-top: 5px;">
                                    gender
                                </div>
                                
                            </div>
    
                            <h1 style="text-align: center;"><a type="submit" href="/animals/{{$animal->id}}" class="btn btn-primary btn-sm" >Show Animal</a></h1 >
                            
                            
                            <br>
                            <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style=" margin-top:50px; width:600px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="box-shadow: 0px 0px 10px 1px #cccccc; ">
                    
                    <div class="card-header"> <h3 style="text-transform: capitalize;">Animal name</h3> </div>
    
                    <div class="card-body" style="padding:50px 0px 0px 0px; ">
                        

                            <div style="padding-bottom: 30px">
                                <p><img src="../images/im1.jpg"/>
                              </p></div>
    
                            
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Age :</label>
    
                                <div class="col-md-6" style="padding-top: 5px;" >
                                    age
                                </div>
                                
                            </div>
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Gender :</label>
    
                                <div class="col-md-6" style="text-transform: capitalize; padding-top: 5px;">
                                    gender
                                </div>
                                
                            </div>
    
                            <h1 style="text-align: center;"><a type="submit" href="/animals/{{$animal->id}}" class="btn btn-primary btn-sm" >Show Animal</a></h1 >
                            
                            
                            <br>
                            <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style=" margin-top:50px; width:600px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="box-shadow: 0px 0px 10px 1px #cccccc; ">
                    
                    <div class="card-header"> <h3 style="text-transform: capitalize;">Animal name</h3> </div>
    
                    <div class="card-body" style="padding:50px 0px 0px 0px; ">
                        

                            <div style="padding-bottom: 30px">
                                <p><img src="../images/im1.jpg"/>
                              </p></div>
    
                            
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Age :</label>
    
                                <div class="col-md-6" style="padding-top: 5px;" >
                                    age
                                </div>
                                
                            </div>
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Gender :</label>
    
                                <div class="col-md-6" style="text-transform: capitalize; padding-top: 5px;">
                                    gender
                                </div>
                                
                            </div>
    
                            <h1 style="text-align: center;"><a type="submit" href="/animals/{{$animal->id}}" class="btn btn-primary btn-sm" >Show Animal</a></h1 >
                            
                            
                            <br>
                            <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style=" margin-top:50px; width:600px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="box-shadow: 0px 0px 10px 1px #cccccc; ">
                    
                    <div class="card-header"> <h3 style="text-transform: capitalize;">Animal name</h3> </div>
    
                    <div class="card-body" style="padding:50px 0px 0px 0px; ">
                        

                            <div style="padding-bottom: 30px">
                                <p><img src="../images/im1.jpg"/>
                              </p></div>
    
                            
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Age :</label>
    
                                <div class="col-md-6" style="padding-top: 5px;" >
                                    age
                                </div>
                                
                            </div>
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Gender :</label>
    
                                <div class="col-md-6" style="text-transform: capitalize; padding-top: 5px;">
                                    gender
                                </div>
                                
                            </div>
    
                            <h1 style="text-align: center;"><a type="submit" href="/animals/{{$animal->id}}" class="btn btn-primary btn-sm" >Show Animal</a></h1 >
                            
                            
                            <br>
                            <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style=" margin-top:50px; width:600px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="box-shadow: 0px 0px 10px 1px #cccccc; ">
                    
                    <div class="card-header"> <h3 style="text-transform: capitalize;">Animal name</h3> </div>
    
                    <div class="card-body" style="padding:50px 0px 0px 0px; ">
                        

                            <div style="padding-bottom: 30px">
                                <p><img src="../images/im1.jpg"/>
                              </p></div>
    
                            
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Age :</label>
    
                                <div class="col-md-6" style="padding-top: 5px;" >
                                    age
                                </div>
                                
                            </div>
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Gender :</label>
    
                                <div class="col-md-6" style="text-transform: capitalize; padding-top: 5px;">
                                    gender
                                </div>
                                
                            </div>
    
                            <h1 style="text-align: center;"><a type="submit" href="/animals/{{$animal->id}}" class="btn btn-primary btn-sm" >Show Animal</a></h1 >
                            
                            
                            <br>
                            <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style=" margin-top:50px; width:600px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="box-shadow: 0px 0px 10px 1px #cccccc; ">
                    
                    <div class="card-header"> <h3 style="text-transform: capitalize;">Animal name</h3> </div>
    
                    <div class="card-body" style="padding:50px 0px 0px 0px; ">
                        

                            <div style="padding-bottom: 30px">
                                <p><img src="../images/im1.jpg"/>
                              </p></div>
    
                            
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Age :</label>
    
                                <div class="col-md-6" style="padding-top: 5px;" >
                                    age
                                </div>
                                
                            </div>
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Gender :</label>
    
                                <div class="col-md-6" style="text-transform: capitalize; padding-top: 5px;">
                                    gender
                                </div>
                                
                            </div>
    
                            <h1 style="text-align: center;"><a type="submit" href="/animals/{{$animal->id}}" class="btn btn-primary btn-sm" >Show Animal</a></h1 >
                            
                            
                            <br>
                            <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style=" margin-top:50px; width:600px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="box-shadow: 0px 0px 10px 1px #cccccc; ">
                    
                    <div class="card-header"> <h3 style="text-transform: capitalize;">Animal name</h3> </div>
    
                    <div class="card-body" style="padding:50px 0px 0px 0px; ">
                        

                            <div style="padding-bottom: 30px">
                                <p><img src="../images/im1.jpg"/>
                              </p></div>
    
                            
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Age :</label>
    
                                <div class="col-md-6" style="padding-top: 5px;" >
                                    age
                                </div>
                                
                            </div>
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Gender :</label>
    
                                <div class="col-md-6" style="text-transform: capitalize; padding-top: 5px;">
                                    gender
                                </div>
                                
                            </div>
    
                            <h1 style="text-align: center;"><a type="submit" href="/animals/{{$animal->id}}" class="btn btn-primary btn-sm" >Show Animal</a></h1 >
                            
                            
                            <br>
                            <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style=" margin-top:50px; width:600px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="box-shadow: 0px 0px 10px 1px #cccccc; ">
                    
                    <div class="card-header"> <h3 style="text-transform: capitalize;">Animal name</h3> </div>
    
                    <div class="card-body" style="padding:50px 0px 0px 0px; ">
                        

                            <div style="padding-bottom: 30px">
                                <p><img src="../images/im1.jpg"/>
                              </p></div>
    
                            
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Age :</label>
    
                                <div class="col-md-6" style="padding-top: 5px;" >
                                    age
                                </div>
                                
                            </div>
                            <div class="form-group row" style="margin-left: 20;">
                                <label for="specie" class="col-md-4 col-form-label text-md-right">Gender :</label>
    
                                <div class="col-md-6" style="text-transform: capitalize; padding-top: 5px;">
                                    gender
                                </div>
                                
                            </div>
    
                            <h1 style="text-align: center;"><a type="submit" href="/animals/{{$animal->id}}" class="btn btn-primary btn-sm" >Show Animal</a></h1 >
                            
                            
                            <br>
                            <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<br>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
