@font-face
{
font-family: 'Jost';
src: url('../fonts/Jost-VariableFont_wght.ttf');
}

body
{  
    margin: auto;
    text-align: center;
    font-family: 'Jost',sans-serif;
}

header
{
    display: flex;
    justify-content: center;
    
    height: 65px;
    line-height: 50px;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 10px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-top: 0px;
    box-shadow: 0px 0px 10px 1px #cccccc;
    opacity: 0.9;    
}

#logo
{
    position: absolute;
    left: 200px;
    top: 10px;
}

nav
{
    position: absolute;
    left: 650px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    margin-bottom: -20px;
}

nav li
{
    margin-right: 30px;
    padding-bottom: 3px;
}

nav li:last-child{
    position: relative;
    top: -7px;
}



nav a
{
    font-size: 1em;
    font-weight: 600;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    text-decoration: none;
    color: #848abd;
    border-bottom: 3px solid #848abd;
}

nav button
{
    background-color: white;
    border-color: white;
    border-radius: 20px;
    position: relative;
    top: -7px;

}

#search
{
    border-color: white;
    border-radius: 15px;
    height: 27px;
}



