@font-face
{
font-family: 'Jost';
src: url('../fonts/Jost-VariableFont_wght.ttf');
}

body
{  
    margin: auto;
    text-align: center;
    font-family: 'Jost',sans-serif;
}



.head{
    height: 715px;
    background-color: rgba(0,0,0,0.5);
}
.background
{
    background-image:url("../images/bg13.jpg");
    background-size: cover;
    height: 715px;
}