@font-face
{
font-family: 'Jost';
src: url('../fonts/Jost-VariableFont_wght.ttf');
}

body
{  
    margin: auto;
    text-align: center;
    font-family: 'Jost',sans-serif;
}







#anim
{
    margin-top: 200px;
}

#anim h4
{
    color: #999999;
}

#anim h1
{
    font-weight: 400;
}

#closer
{
    margin: auto;
    margin-top:150px; 
    
}

video
{
    margin-top: 40px;
}

video:hover{
    box-shadow: 0px 0px 10px 1px #4d4b4b;
}

@keyframes clignote
        {
            0%{opacity: 1;}
            50%{opacity: 0;}
            100%{opacity: 1;}
        }

#partners
{
    margin-top: 150px;
}

#partners p
{
    margin-top: 50px;
    animation: clignote 4s linear infinite alternate;
}

