@font-face
{
font-family: 'Jost';
src: url('../fonts/Jost-VariableFont_wght.ttf');
}

body
{  
    margin: auto;
    text-align: center;
    font-family: 'Jost',sans-serif;
}





#bubble
{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 400px;
    right: 20px;
    height: 150px;
    width: 50px;
    box-shadow: 0px 0px 10px 1px #cccccc;
    box-shadow: 0px 0px 10px 1px #cccccc;
    border-radius: 25px;
    background-color: white;
    opacity: 0.95;
}

#bubble a
{
    margin-top: 20px;
}

