@font-face
{
font-family: 'Jost';
src: url('../fonts/Jost-VariableFont_wght.ttf');
}

body
{  
    margin: auto;
    text-align: center;
    font-family: 'Jost',sans-serif;
}



#banniere_image
{
    text-align: center;
    margin-top: 0px;
    height: 700px;
    width: 100%;
    background: url('../images/back.jpg') ;
    background-size: cover;
    position: relative;
    margin-bottom: 25px;
}

#banniere_description
{
   color:black;
   width: 500px;
   padding-top: 250px;
   text-align: center;
   margin-left: -400px;   
}

#banniere_description h1
{
    text-align: left;
    font-size: 2.8em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin: 0;
}
#banniere_description h4
{
    text-align: end;
    font-size: 1.4em;
    margin: 0;

}
#banniere_description p
{
    text-align: left;
    font-size: 1.4em;
    margin: 0;
}

#button
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 115px;
}

#button a
{
    width: 170px;
    height: 55px;
    line-height: 55px;
    background-color: white;
    border-radius: 30px;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    color: black;   
}

#button a:hover
{
    color:#848abd;
    box-shadow: 0px 0px 10px 1px #cccccc;
    
}

#anime
{
    position: absolute;
    right: 350px;
    top: 413px;
}
